name: Build APK Stable 33
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build with Buildozer
        uses: 
        with:
          buildozer_version: master
          python_version: 3.10

          
